# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg
dist/
build/

# Env files
.env
*.env

# Node
node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/
*.swp

# DB
*.db
*.sqlite3

# Logs
*.log
